{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="m-5">
        <form action="{{ path('security') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_failure_path" value="{{ path('app_index') }}">
            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}
            <button type="submit">login</button>
        </form>
    </div>
    <div class="m-3">
        <a href="{{ path('app_register') }}">
            <button type="button" class="btn btn-dark shadow-lg">Créer un compte</button>
        </a>
    </div>
{% endblock %}
