{% extends 'base.html.twig' %}

{% block title %}Edit programs{% endblock %}

{% block body %}
    <h1>Edit Program</h1>
<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-dark shadow-lg m-2">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>
    <a href="{{ path('program_index') }}">
        <button class="btn btn-secondary shadow-lg m-2 border-primary">Retourner à la liste</button>
    </a>
<div>
    <form method="post" action="{{ path('program_edit', {'slug': program.slug}) }}" onsubmit="return confirm('Est-tu sûr de vouloir supprimer cette série?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
        <button class="btn btn-danger shadow-lg m-2">supprimer</button>
    </form>
</div>


{% endblock %}