{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <h1>Saison {{ season.number }} de {{ program.title }}</h1>
    <p>liste des épisodes:</p>

        <div class="list-group my-2">
    {% for episode in episode %}
        <div class="text-decoration-none my-1">
            <a href="{{ path("program_episode_show", {program_slug: program.slug, season_id: season.id, episode_slug: episode.slug}) }}">Episode {{ episode.number }} : {{ episode.title }}</a>
        </div>
    {% else %}
        Aucun épisode trouvée.
    {% endfor %}
        </div>

    <a class="p-2 text-decoration-none bg-light border rounded shadow-lg" href="{{ path("program_show", { slug: program.slug }) }}">Retourner sur la page: {{ program.title }}</a>
{% endblock %}