{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="media m-3">
        <img class="align-self-start mr-3" src="{{ asset('images/program/' ~ program.poster) }}" alt="{{ program.title }} poster">
        <div class="media-body m-3">
            <h1 >{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
        <div class="m-2">
            {% for season in season %}
                <a class="border-0 list-group-item list-group-item-action" href="{{ path("program_season_show", {program_slug: program.slug, season_id: season.id}) }}">{{ season.description }}</a>
             {% endfor %}
        </div>
    </div>
    <div class="m-2">
        {% if is_granted("ROLE_USER") %}
            <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">
                <button class="btn btn-dark shadow-lg m-2">Éditer</button>
            </a>
        {%endif%}
    </div>

    <strong>Acteurs :</strong>
<ul class="list-unstyled">
    {% for actor in program.actors %}
        <li><a href="{{ path("actor_show", {id: actor.id}) }}">{{ actor.name }} </a></li>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>
{% endblock %}